.navbar-one {
  .main-nav {
    ul {
      li {
        a {
          color: white;
        }
      }
    }
  }

  .header-search {
    a {
      i.icon-search {
        color: white;
      }
    }
  }

  .wishlist-link {
    i {
      color: white;
    }
  }

  .dropdown {
    a {
      i {
        color: white;
      }
    }
  }

  .megamenu-action {
    .view-all {
      color: #212121;
    }
  }
}
