<div class="intro-slider-container mb-3 mb-lg-5" :id="componentId">
  <div class="swiper-wrapper">
    <div
      class="intro-slide swiper-slide"
      style="background-image: url(/images/demos/demo-12/slider/slide-1.jpg)"
    >
      <div class="container intro-content text-center">
        <h3 class="intro-subtitle text-white">SEASONAL PICKS</h3>
        <h1 class="intro-title text-white">Get All The Good Stuff</h1>

        <a href="category.html" class="btn btn-outline-white">
          <span>DISCOVER MORE</span>
          <i class="icon-long-arrow-right"></i>
        </a>
      </div>
    </div>

    <div
      class="intro-slide swiper-slide"
      style="background-image: url(/images/demos/demo-12/banners/banner-3.jpg)"
    >
      <div class="container intro-content text-center">
        <h3 class="intro-subtitle text-white">SEASONAL PICKS</h3>
        <h1 class="intro-title text-white">Get All The Good Stuff</h1>

        <a href="category.html" class="btn btn-outline-white">
          <span>DISCOVER MORE</span>
          <i class="icon-long-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</div>
