<div class="bg-lighter pt-5 pb-5 mb-5">
  <div class="container">
    <div class="heading text-center mb-4">
      <h2 class="title">Recent Arrivals</h2>
      <p class="title-desc">Aliquam tincidunt mauris eurisus</p>
    </div>

    <div class="position-relative" :id="componentId">
      <div class="swiper-wrapper">
        <div class="product product-4 swiper-slide">
          <figure class="product-media">
            <a href="product.html">
              <img
                src="/images/demos/demo-12/products/product-1.jpg"
                alt="Product"
                class="product-image"
              />
              <img
                src="/images/demos/demo-12/products/product-1-2.jpg"
                alt="Product"
                class="product-image-hover"
              />
            </a>

            <div class="product-action-vertical">
              <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                ><span>add to wishlist</span></a
              >
              <a
                href="popup/quickView.html"
                class="btn-product-icon btn-quickview"
                title="Quick view"
                ><span>Quick view</span></a
              >
              <a href="#" class="btn-product-icon btn-compare" title="Compare"
                ><span>Compare</span></a
              >
            </div>

            <div class="product-action">
              <a href="#" class="btn-product btn-cart"
                ><span>add to cart</span></a
              >
            </div>
          </figure>

          <div class="product-body">
            <div class="product-cat">
              <a href="#">Clothing</a>
            </div>
            <!-- End .product-cat -->
            <h3 class="product-title">
              <a href="product.html">Linen-blend dress</a>
            </h3>
            <div class="product-price">$60.00</div>
            <div class="product-nav product-nav-dots">
              <a href="#" class="active" style="background: #e5dcb1"
                ><span class="sr-only">Color name</span></a
              >
              <a href="#" style="background: #bacbd8"
                ><span class="sr-only">Color name</span></a
              >
            </div>
            <!-- End .product-nav -->
          </div>
        </div>

        <div class="product product-4 swiper-slide">
          <figure class="product-media">
            <span class="product-label label-primary">Sale</span>
            <a href="product.html">
              <img
                src="/images/demos/demo-12/products/product-2.jpg"
                alt="Product image"
                class="product-image"
              />
              <img
                src="/images/demos/demo-12/products/product-2-2.jpg"
                alt="Product image"
                class="product-image-hover"
              />
            </a>

            <div class="product-action-vertical">
              <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                ><span>add to wishlist</span></a
              >
              <a
                href="popup/quickView.html"
                class="btn-product-icon btn-quickview"
                title="Quick view"
                ><span>Quick view</span></a
              >
              <a href="#" class="btn-product-icon btn-compare" title="Compare"
                ><span>Compare</span></a
              >
            </div>
            <!-- End .product-action -->

            <div class="product-action">
              <a href="#" class="btn-product btn-cart"
                ><span>add to cart</span></a
              >
            </div>
            <!-- End .product-action -->
          </figure>
          <!-- End .product-media -->

          <div class="product-body">
            <div class="product-cat">
              <a href="#">Shoes</a>
            </div>
            <!-- End .product-cat -->
            <h3 class="product-title">
              <a href="product.html">Sandals with lacing</a>
            </h3>

            <div class="product-price">
              <span class="new-price">Now $70.00</span>
              <span class="old-price">Was $84.00</span>
            </div>
          </div>
        </div>

        <div class="product product-4 swiper-slide">
          <figure class="product-media">
            <a href="product.html">
              <img
                src="/images/demos/demo-12/products/product-3.jpg"
                alt="Product image"
                class="product-image"
              />
              <img
                src="/images/demos/demo-12/products/product-3-2.jpg"
                alt="Product image"
                class="product-image-hover"
              />
            </a>

            <div class="product-action-vertical">
              <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                ><span>add to wishlist</span></a
              >
              <a
                href="popup/quickView.html"
                class="btn-product-icon btn-quickview"
                title="Quick view"
                ><span>Quick view</span></a
              >
              <a href="#" class="btn-product-icon btn-compare" title="Compare"
                ><span>Compare</span></a
              >
            </div>
            <!-- End .product-action -->

            <div class="product-action">
              <a href="#" class="btn-product btn-cart"
                ><span>add to cart</span></a
              >
            </div>
            <!-- End .product-action -->
          </figure>
          <!-- End .product-media -->

          <div class="product-body">
            <div class="product-cat">
              <a href="#">Clothing</a>
            </div>
            <!-- End .product-cat -->
            <h3 class="product-title">
              <a href="product.html">Paper bag trousers</a>
            </h3>
            <div class="product-price">$60.00</div>
            <div class="product-nav product-nav-dots">
              <a href="#" class="active" style="background: #9fac76"
                ><span class="sr-only">Color name</span></a
              >
              <a href="#" style="background: #333333"
                ><span class="sr-only">Color name</span></a
              >
            </div>
            <!-- End .product-nav -->
          </div>
        </div>

        <div class="product product-4 swiper-slide">
          <figure class="product-media">
            <a href="product.html">
              <img
                src="/images/demos/demo-12/products/product-4.jpg"
                alt="Product image"
                class="product-image"
              />
              <img
                src="/images/demos/demo-12/products/product-4-2.jpg"
                alt="Product image"
                class="product-image-hover"
              />
            </a>

            <div class="product-action-vertical">
              <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                ><span>add to wishlist</span></a
              >
              <a
                href="popup/quickView.html"
                class="btn-product-icon btn-quickview"
                title="Quick view"
                ><span>Quick view</span></a
              >
              <a href="#" class="btn-product-icon btn-compare" title="Compare"
                ><span>Compare</span></a
              >
            </div>
            <!-- End .product-action -->

            <div class="product-action">
              <a href="#" class="btn-product btn-cart"
                ><span>add to cart</span></a
              >
            </div>
            <!-- End .product-action -->
          </figure>
          <!-- End .product-media -->

          <div class="product-body">
            <div class="product-cat">
              <a href="#">Handbags</a>
            </div>
            <!-- End .product-cat -->
            <h3 class="product-title"><a href="product.html">Bucket bag</a></h3>
            <div class="product-price">$350.00</div>
          </div>
        </div>

        <div class="product product-4 swiper-slide">
          <figure class="product-media">
            <a href="product.html">
              <img
                src="/images/demos/demo-12/products/product-5.jpg"
                alt="Product image"
                class="product-image"
              />
              <img
                src="/images/demos/demo-12/products/product-5-2.jpg"
                alt="Product image"
                class="product-image-hover"
              />
            </a>

            <div class="product-action-vertical">
              <a href="#" class="btn-product-icon btn-wishlist btn-expandable"
                ><span>add to wishlist</span></a
              >
              <a
                href="popup/quickView.html"
                class="btn-product-icon btn-quickview"
                title="Quick view"
                ><span>Quick view</span></a
              >
              <a href="#" class="btn-product-icon btn-compare" title="Compare"
                ><span>Compare</span></a
              >
            </div>
            <!-- End .product-action -->

            <div class="product-action">
              <a href="#" class="btn-product btn-cart"
                ><span>add to cart</span></a
              >
            </div>
            <!-- End .product-action -->
          </figure>
          <!-- End .product-media -->

          <div class="product-body">
            <div class="product-cat">
              <a href="#">Clothing</a>
            </div>
            <!-- End .product-cat -->
            <h3 class="product-title">
              <a href="product.html">Silk-blend kaftan</a>
            </h3>
            <div class="product-price">$370.00</div>
          </div>
        </div>
      </div>

      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</div>
