<header class="header header-9">
  <div class="header-middle sticky-header">
    <div class="container">
      <div class="header-left">
        <button class="mobile-menu-toggler">
          <span class="sr-only">Toggle mobile menu</span>
          <i class="icon-bars"></i>
        </button>

        <a href="index.html" class="logo">
          <img
            src="/src/assets/images/demos/demo-12/logo.png"
            alt="Molla Logo"
            width="82"
            height="25"
          />
        </a>
      </div>

      <div class="header-right">
        <nav class="main-nav">
          <ul class="menu sf-arrows">
            <li class="active">
              <a href="index.html">Home</a>
            </li>
            <li class="megamenu-container">
              <a href="category.html" class="sf-with-ul"
                >{{ $t('Products') }}</a
              >

              <div class="megamenu demo">
                <div class="menu-col">
                  <div class="demo-list">
                    <div class="demo-item">
                      <h4>Category 01</h4>

                      <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>

                    <div class="demo-item">
                      <h4>Category 01</h4>

                      <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>

                    <div class="demo-item">
                      <h4>Category 01</h4>

                      <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>

                    <div class="demo-item">
                      <h4>Category 01</h4>

                      <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>

                    <div class="demo-item">
                      <h4>Category 01</h4>

                      <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>

                    <div class="demo-item">
                      <h4>Category 01</h4>

                      <ul>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                        <li>Lorem ipsum</li>
                      </ul>
                    </div>
                  </div>

                  <div class="megamenu-action text-center">
                    <a href="#" class="btn btn-outline-primary-2 view-all"
                      ><span>{{ $t('ViewAllProducts') }}</span
                      ><i class="icon-long-arrow-right"></i
                    ></a>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <a href="product.html">{{ $t('Promotions') }}</a>
            </li>
            <li>
              <a href="#">{{ $t('AboutUs') }}</a>
            </li>
          </ul>
        </nav>

        <div class="header-search">
          <a href="#" class="search-toggle" role="button"
            ><i class="icon-search"></i
          ></a>
          <form action="#" method="get">
            <div class="header-search-wrapper">
              <label for="q" class="sr-only">Search</label>
              <input
                type="search"
                class="form-control"
                name="q"
                id="q"
                placeholder="Search in..."
                required
              />
            </div>
          </form>
        </div>

        <a href="wishlist.html" class="wishlist-link">
          <i class="icon-heart-o"></i>
          <span class="wishlist-count">3</span>
        </a>

        <div class="dropdown cart-dropdown">
          <a
            href="#"
            class="dropdown-toggle"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            data-display="static"
          >
            <i class="icon-shopping-cart"></i>
            <span class="cart-count">2</span>
          </a>

          <div class="dropdown-menu dropdown-menu-right">
            <div class="dropdown-cart-products">
              <div class="product">
                <div class="product-cart-details">
                  <h4 class="product-title">
                    <a href="product.html"
                      >Beige knitted elastic runner shoes</a
                    >
                  </h4>

                  <span class="cart-product-info">
                    <span class="cart-product-qty">1</span>
                    x $84.00
                  </span>
                </div>
                <!-- End .product-cart-details -->

                <figure class="product-image-container">
                  <a href="product.html" class="product-image">
                    <img
                      src="/src/assets/images/products/cart/product-1.jpg"
                      alt="product"
                    />
                  </a>
                </figure>
                <a href="#" class="btn-remove" title="Remove Product"
                  ><i class="icon-close"></i
                ></a>
              </div>
              <!-- End .product -->

              <div class="product">
                <div class="product-cart-details">
                  <h4 class="product-title">
                    <a href="product.html">Blue utility pinafore denim dress</a>
                  </h4>

                  <span class="cart-product-info">
                    <span class="cart-product-qty">1</span>
                    x $76.00
                  </span>
                </div>
                <!-- End .product-cart-details -->

                <figure class="product-image-container">
                  <a href="product.html" class="product-image">
                    <img
                      src="/src/assets/images/products/cart/product-2.jpg"
                      alt="product"
                    />
                  </a>
                </figure>
                <a href="#" class="btn-remove" title="Remove Product"
                  ><i class="icon-close"></i
                ></a>
              </div>
              <!-- End .product -->
            </div>
            <!-- End .cart-product -->

            <div class="dropdown-cart-total">
              <span>Total</span>

              <span class="cart-total-price">$160.00</span>
            </div>
            <!-- End .dropdown-cart-total -->

            <div class="dropdown-cart-action">
              <a href="cart.html" class="btn btn-primary">View Cart</a>
              <a href="checkout.html" class="btn btn-outline-primary-2"
                ><span>Checkout</span><i class="icon-long-arrow-right"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
