.navbar-one {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1040;

  .megamenu {
    .demo-item {
      text-align: left;
      h4 {
        font-size: 1.6rem;
      }

      ul {
        li {
          a {
            color: #212121;
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .header-middle {
    border-bottom: none;
  }

  .logo {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;

    @media screen and (max-width: 575px) {
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: center;
    }
  }

  .main-nav {
    margin-left: 1rem;

    @media screen and (min-width: 576px) {
      margin-right: 10rem;
      margin-left: 0;
    }
  }

  .mobile-menu-toggler {
    font-size: 2.5rem;
  }

  .menu {
    > li > a {
      padding-top: 2.85rem;
      padding-bottom: 2.85rem;
      padding-left: 2.6rem;
      position: relative;

      &::before {
        content: "";
        display: block;
        position: absolute;
        left: 2rem;
        right: -1rem;
        bottom: 1.3rem;
        height: 0.1rem;
        transform-origin: right center;
        transform: scale(0, 1);
        transition: transform 0.3s ease;
      }

      &:hover::before,
      &:focus::before,
      li.show > a::before,
      li.active > a::before {
        transform-origin: left center;
        transform: scale(1, 1);
      }
    }
  }

  .wishlist-link,
  .cart-dropdown,
  .compare-dropdown {
    padding-left: 2.3rem;

    @media screen and (max-width: 575px) {
      padding-left: 1.4rem;
    }
  }

  .wishlist-link,
  .cart-dropdown .cart-count,
  .compare-dropdown {
    font-size: 2.8rem;

    @media screen and (max-width: 575px) {
      font-size: 1.8rem;
    }
  }

  .wishlist-link .wishlist-count,
  .cart-dropdown .cart-count {
    min-width: 1.7rem;
    height: 1.7rem;
    margin-bottom: 1.5rem;
    margin-left: -1.2rem;
  }

  .wishlist-txt,
  .cart-txt {
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0;
    margin-left: 1rem;
    margin-top: -0.5rem;
    transition: all 0.3s;
  }
}
