<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="banner banner-display banner-link-anim banner-title-hidden">
        <a href="#">
          <img src="/images/demos/demo-12/banners/banner-1.jpg" alt="Banner" />
        </a>

        <div class="banner-content banner-content-center">
          <h3 class="banner-title text-white">
            <a href="#">This Week's Most Wanted</a>
          </h3>
          <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="banner banner-display banner-link-anim banner-title-hidden">
        <a href="#">
          <img src="/images/demos/demo-12/banners/banner-2.jpg" alt="Banner" />
        </a>

        <div class="banner-content banner-content-center">
          <h3 class="banner-title text-white"><a href="#">Bags by Mood</a></h3>
          <a href="#" class="btn btn-outline-white banner-link">Discover Now</a>
        </div>
      </div>
      <div class="banner banner-display banner-link-anim banner-title-hidden">
        <a href="#">
          <img src="/images/demos/demo-12/banners/banner-3.jpg" alt="Banner" />
        </a>

        <div class="banner-content banner-content-center">
          <h3 class="banner-title text-white">
            <a href="#">The Trend Story</a>
          </h3>
          <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
