<div class="container">
  <div class="heading text-center mb-4">
    <h2 class="title">Popular Categories</h2>
    <p class="title-desc">Vestibulum auctor dapibus neque</p>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="banner banner-display banner-link-anim">
        <a href="#">
          <img
            src="assets/images/demos/demo-12/banners/banner-4.jpg"
            alt="Banner"
          />
        </a>

        <div class="banner-content banner-content-center">
          <h3 class="banner-title text-white">
            <a href="#">Accessories</a>
          </h3>
          <h4 class="banner-subtitle text-white">
            <a href="#">16 Items</a>
          </h4>
          <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-4 order-lg-last">
      <div class="banner banner-display banner-link-anim">
        <a href="#">
          <img
            src="assets/images/demos/demo-12/banners/banner-5.jpg"
            alt="Banner"
          />
        </a>

        <div class="banner-content banner-content-center">
          <h3 class="banner-title text-white">
            <a href="#">Jewellery</a>
          </h3>
          <h4 class="banner-subtitle text-white">
            <a href="#">8 Items</a>
          </h4>
          <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="row">
        <div class="col-sm-6 col-lg-12">
          <div class="banner banner-display banner-link-anim">
            <a href="#">
              <img
                src="assets/images/demos/demo-12/banners/banner-6.jpg"
                alt="Banner"
              />
            </a>

            <div class="banner-content banner-content-center">
              <h3 class="banner-title text-white">
                <a href="#">Clothing</a>
              </h3>
              <h4 class="banner-subtitle text-white">
                <a href="#">24 Items</a>
              </h4>
              <a href="#" class="btn btn-outline-white banner-link"
                >Discover Now</a
              >
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-lg-12">
          <div class="banner banner-display banner-link-anim">
            <a href="#">
              <img
                src="assets/images/demos/demo-12/banners/banner-7.jpg"
                alt="Banner"
              />
            </a>

            <div class="banner-content banner-content-center">
              <h3 class="banner-title text-white">
                <a href="#">Shoes</a>
              </h3>
              <h4 class="banner-subtitle text-white">
                <a href="#">6 Items</a>
              </h4>
              <a href="#" class="btn btn-outline-white banner-link">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
